img {
    width: 31%;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Images/HeaderBackground4.jpg);
    background-size: 100%;
}

.title {
    height: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Impact', serif;
}

.subtitle {
    margin-top: 0;
}

.image-banner {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    background-image: url(Images/HeaderBackground4.jpg);
    background-size: 100%;
}

.instructions {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 241, 241);
}

#instruction-header {
    margin-bottom: 3px;
}

.instruction-point-list {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.instruction-point {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 250px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.file-handling {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    min-height: 350px;
    width: 100%;
    margin-bottom: 0;
    position: relative; /* For status text positioning */
}

input[type="file"] {
    display: none;
}

.file-button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.file-button {
    width: 250px;
    height: 50px;
    padding: 0.5%;
    margin: 5%;
    border: 3px inset grey;
    background-color: #c3c3c3;

    cursor: pointer;
    box-sizing: content-box; /* Make buttons dimension properly */

    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
    /* Center Text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-button:hover {
    background-color: #e1e1e1;
}

#file-status {
    margin-top: 10px;
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
}

.footer {
    background-color: rgb(75, 71, 71);
    min-height: 150px;
}
