h1, h2, h3, h4 {
    font-family: 'Courier New', monospace;
    color: black;
}

.site-section {
    border: 2px solid;
    border-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions, .file-handling {
    background-color: rgb(242, 241, 241);
}

.calendar-setup {
    background-color: rgb(255, 255, 255);
}

.section-header {
    margin-bottom: 5px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Images/HeaderBackground4.jpg);
    background-size: 100%;
}

.title {
    height: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Impact', serif;
}

.subtitle {
    margin-top: 0;
}

.image-banner {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    background-image: url(Images/HeaderBackground4.jpg);
    background-size: 100%;

    img {
        width: 31%;
    }
}

.setup-main-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.setup-point {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    align-items: center;
    margin: 1%;
    padding: 0 8px 0 8px;
    justify-items: center;
    font-size: 15px;
}

.setup-hor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.setup-ver-container {
    width: 100%;
    padding: 0 5px 0 5px;
}

.left-side {
    width: 95%;
    height: auto;
}

.right-side {
    li {
        font-size: 14px;
    }
}

#example-caption {
    margin-left: 2%;
    font-size: 100%;
}

.instruction-point-list {
    display: flex;
    flex-direction: row;
    column-gap: calc(10px + 3vw);
    justify-content: center;
}

.instruction-point {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 50%;
    max-width: 200px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.file-handling {
    min-height: 350px;
    margin-bottom: 0;
}

input[type="text"] {
    border: 1px inset grey;
    min-width: calc(175px + 5vw);
    min-height: calc(7px + 1vh);
    padding: 0.5%;
    margin-bottom: calc(2px + 1vh);
    background-color: #f0f0f0;
}

input[type="file"] {
    display: none;
}

.file-button {
    min-width: calc(175px + 5vw);
    min-height: calc(40px + 1vh);
    padding: 0.5%;
    margin: calc(4px + 3vh) 0 calc(4px + 3vh) 0;
    border: 3px inset grey;
    background-color: #c3c3c3;

    cursor: pointer;
    box-sizing: content-box; /* Make buttons dimension properly */

    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 21px;
    /* Center Text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-button:hover {
    background-color: #e1e1e1;
}

#file-status {
    margin-top: 0;
    bottom: 0;
}

.footer {
    background-color: rgb(75, 71, 71);
    min-height: 150px;
}
