img {
  width: 31%;
}

h1, h2, h3 {
  font-family: "Courier New", monospace;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url(HeaderBackground4.jpg);
  background-size: 100%;
  align-items: center;
}

.title {
  height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Impact';
}

.subtitle {
  margin-top: 0;
}

.imageBanner {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  background-image: url(HeaderBackground4.jpg);
  background-size: 100%;
}

.instructions {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 241, 241);
}

#instructionHeader {
  /*color: black;*/
  margin-bottom: 3px;
}

.instructionPoints {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.pointColumn {
  /*color: black;*/
  display: flex;
  flex-direction: column;
  border: 2px solid;
  min-width: 250px;
  max-width: 250px;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.fileHandling {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.fileUpload {
  background-color: #ffffff;
  min-height: 300px;
  width: 100%;
  display: flex;
}

input[type="file"] {
  display: none;
}

.file-button {
  min-width: 250px;
  max-width: 250px;
  padding: 0.5%;
  border-style: inset;
  border-width: 3px;
  border-color: grey;
  background-color: #c3c3c3;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.file-button:hover {
  background-color: #e1e1e1;
}

.fileDownload {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #e1e1e1;
  padding-top: calc(10px + 2vmin);
  width: 100%
}



.footer {
  background-color: rgb(75, 71, 71);
  min-height: 150px;
}
